.netrice-circle {
    border-top: 30px solid $color-one;
    border-bottom: 30px solid $color-two;
    border-left: 30px solid $color-three;
    border-right: 30px solid $color-four;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: netrice-spin 2s linear infinite;
}
