.netrice-circle-triple-transparent {
    border: 30px solid $color-one;
    border-bottom: 30px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: netrice-spin 2s linear infinite;
}
