.loader-circle-single-transparent {
    border: 30px solid rgba(0, 0, 0, 0);
    border-top: 30px solid $color-one;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader-spin 2s linear infinite;
}