.loader-circle-double {
	border: 30px solid rgba(150, 150, 150, 0.3);
    border-top: 30px solid $color-one;
	border-bottom: 30px solid $color-one;
	border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader-spin 2s linear infinite;
}
